@import '../../../variables';

.planet-detail-wrapper {

  button.back {
    background-color: #000;
    border: none;
    color: #fff;
    padding: 0 10px;
    margin: 10px 0;

    span {
      margin: 0 5px 0 0;
    }

    a {
      text-decoration: none;
      color: #fff;
    }

    &:hover * {
      color: $sw-yellow
    }
  }

  .planet-detail-content {
    width: 70%;
    min-width: 350px;
    max-width: 600px;
    display: block;
    margin: 15px auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    background: rgba(0, 0, 0, .7);

    .description {
      font-weight: 100;

      h3 {
        margin-bottom: 20px;
      }

      p {
        border-bottom: 1px solid #2c2c2c;

        span {
          font-weight: bold;
          font-size: 1.2rem;
        }
      }

      ul{
        li{
          color: $sw-yellow;
          list-style: inside;
        }
      }
    }
  }
}
