@import "variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  box-shadow: inset 5px 5px 0 10000px #000000f5;
  background-color: #000;
  background-image: url("assets/images/bg_repeat.jpg");
  min-height: 100vh;
  padding: 50px 10px;
}

